body {
    background-color: #FDFDFD;
}

#rf-login{
	right: 0px; position: absolute;	
}
.rf-log_label:hover{
	background-color: #777 !Important;
	color: #FDFDFD;
}

.jumbotron{
	background-color:#B6B6B6;
}

.jumbotron img{
    margin: 0 auto;    
    padding: 0.15em;
    border: 0.3em solid  #F35A04;
    min-width: 220px;
}
.jumbotron h2{
    margin-top: 1em;
    text-align: center;    
}
.ranking span{
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    }
.cotens {
    margin-top: 4em; 
    border: 3px solid red;
}

.nombre_login{
    top: 15px; 
    position: relative; 
    margin-right: 1em;
    color: #F35A04;
    font-size: 1.1em;
}
.link_login i{
    font-size: 1.1em;
    margin-right: 0.5em;
}
.link_login > a:hover{
    color: #F35A04;
}
.glyphicon-log-out{
    margin-left: 7px;
}
.glyphicon-log-out:hover{
    color: #F35A04;
}
#adm_label:hover{
    color: #777;
}

.perfil_alumno li{
    margin:0.75em;
    text-align: left; 
    margin-left: 25%;
    font-size: 1.3em;
}
.perfil_alumno span {
    font-size: 1.4em;
    margin-left: 0.75em;
}
.ranking{
    margin-top: -0.9em;
    text-align: center;
}
.ranking_label{
    background-color: #F35A04;
    padding: 5px 10px;
    border-radius: 27px;
    font-size: 1em;
}

.form-group{

	margin: .5em;
}
.erroneo{
	border: 1px solid #9f1d2c;
	box-shadow: inset 0 0 0  2px #cf6767;
 	-webkit-box-shadow: inset 0 0 0  2px #cf6767;
 	-moz-box-shadow: inset 0 0 0  2px #cf6767;
 		background-color:  #cf6767;
}

.caja_errores{
 	border: 1px solid #9f1d2c;
	box-shadow: inset 0 0 0  2px #cf6767;
 	-webkit-box-shadow: inset 0 0 0  2px #cf6767;
 	-moz-box-shadow: inset 0 0 0  2px #cf6767;

} 	

.fila_error{
	margin: 1em;
	padding: 0.5em;
	border: 0.2em solid gray;

}

.form-horizontal{
	margin-top: 2em;
}


.container {
    padding: 25px;
   /* position: fixed;*/
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
li {
    list-style-type: none;
    }
/*Seccion para formatear los textos del About*/
article{
    font-size: 1.2em;
    color:  #222 ;
    text-align: justify;
    margin-left: 1em;
    margin-right: 2em;
}
article header{
    font-size: 1.6em;
    color:  #AAA;
    margin-top: 2.5em;
}
article footer{
    margin-left: 2em;
    color: #A1A1A1;
    font-style: italic;
}


section{
    margin-left: 1em;

}
.separador{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    /*background-image: linear-gradient(left, #75D6D2,#0B635F,#75D6D2);*/
}
footer{
    font-size: 1.5em;
    color: #666;
}
.foot_resp{
    display: inline;
}
.foot_def{

}